.academicsDiv {
  height: 100vh;
}
/* Full-width, clean card */
.academic-card {
  max-width: 60%; /* For laptop – prevents HUGE cards */
  border-radius: 13px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  text-align: left !important;
  height: 15% !important;
  border: 1px solid white !important;
}

/* Hover effect */
.academic-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

/* Heading underline */
.header {
  padding-bottom: 2px;
}

/* Mobile View */
@media (max-width: 768px) {
  .academic-card {
    max-width: 95%;
    margin: 2rem auto;
    height: 12% !important;
    padding: 0.5px !important;
  }
  .academicsDiv {
    margin-top: 6rem;
    height: 80vh !important;
  }
}
