/* Full-screen container */
.mainBox {
  width: 100vw;
  height: 100vh;
  padding-top: 1rem;
}
.achievements-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 1rem;
}

/* Carousel container */
.achievements-carousel {
  width: 100vw;
  height: 95vh;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Carousel item wrapper: fixed size */
.carousel-image-wrapper {
  width: 99%;
  height: 86%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  z-index: 100;
  font-weight: 700;
}
/* Image */
.carousel-image-wrapper img {
  max-width: 70%;
  max-height: 50% !important;
  object-fit: contain;
  border-radius: 6px;
}

/* Mobile view */
@media (max-width: 576px) {
  /* Carousel container */
  .achievements-carousel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .achievements-carousel {
    width: 100%;
    height: 70vh;
  }

  .carousel-image-wrapper img {
    max-width: 90%;
    max-height: 60%;
  }
  .mainBox {
    width: 100vw;
    height: 90vh;
  }
  .heading {
    z-index: 100;
    font-weight: 700;
    padding-top: 4rem;
  }
  .achievements-container {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  /* Carousel item wrapper: fixed size */
  .carousel-image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
