.footerLinks {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  height: 12%;
}
.linkhover:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  color: blue !important;
}
/* ------------------------- */
@media (max-width: 768px) {
  .footerLinks {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    height: 11%;
  }
}
