.homeBox {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.home-card {
  max-width: 35rem;
  border: 3px solid white;
  border-radius: 15px;
  padding: 1.5rem;
}

.home-card p {
  line-height: 2rem !important;
}

/* IMAGE - Slightly Larger */
.responsiveImage {
  min-width: 16rem; /* increased */
  max-width: 25rem;
  height: 70vh;
}

.responsiveImage img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

/* ------------------------- */
/* MOBILE VIEW (up to 768px) */
/* ------------------------- */
@media (max-width: 768px) {
  .homeBox {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;
  }

  .home-card {
    max-width: 25rem;
    border: 1px solid white;
    border-radius: 12px;
    margin: 3%;
    margin-top: 20% !important ;
    padding: 1rem;
  }

  .home-card p {
    line-height: 1.7rem !important;
  }

  .responsiveImage {
    max-width: 67vw; /* slightly larger on mobile */
    height: 50%;
  }
}

/* ------------------------- */
/* LAPTOP / DESKTOP VIEW     */
/* ------------------------- */
@media (min-width: 1024px) {
  .responsiveImage {
    min-width: 17rem; /* slightly larger */
    max-width: 22rem; /* slightly larger */
  }
}
