/* ---------------------------------- */
/* MAIN CONTAINER */
/* ---------------------------------- */
.homeBox {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 0;
  padding: 0.5rem;
}

/* ---------------------------------- */
/* CARD SECTION */
/* ---------------------------------- */
.home-card {
  font-size: 1.25rem;
  max-width: 35rem;
  border: 3px solid white;
  border-radius: 15px;
  padding: 1.5rem;
  background: #f8f9fa;
}

.home-card p {
  line-height: 2rem !important;
}

/* ---------------------------------- */
/* IMAGE SECTION */
/* ---------------------------------- */
.responsiveImage {
  min-width: 16rem;
  max-width: 25rem;
  height: auto;
}

.responsiveImage img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

/* ------------------------- */
/* MOBILE VIEW (up to 768px) */
/* ------------------------- */
@media (max-width: 768px) {
  .homeBox {
    height: 104vh;
    align-items: center;
    padding-top: 2rem;
  }

  .home-card {
    max-width: 95%;
    border-width: 2px;
    margin-top: 3rem !important;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  .home-card p {
    line-height: 1.6rem !important;
  }

  .responsiveImage {
    max-width: 75vw;
    margin: 0 auto;
  }
}

/* ------------------------- */
/* TABLET VIEW (768px - 1024px) */
/* ------------------------- */
@media (min-width: 768px) and (max-width: 1024px) {
  .homeBox {
    height: auto;
    flex-direction: row;
    gap: 2rem;
  }

  .home-card {
    max-width: 30rem;
  }

  .responsiveImage {
    max-width: 20rem;
  }
}

/* ------------------------- */
/* DESKTOP VIEW (1024px+) */
/* ------------------------- */
@media (min-width: 1024px) {
  .responsiveImage {
    min-width: 18rem;
    max-width: 23rem;
  }
}
