.skillBox {
  margin-top: 1rem;
  width: 100%;
  height: 100vh;
}
.chartbox {
  height: 100vh;
  margin-top: 2rem;
}

/* Main container for skills */
.skillDiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
}

/* Skill Card */
.skillItem {
  width: 90%;
  max-width: 500px;
  padding: 0.8rem 1rem;
  border-radius: 15px;
  transition: transform 0.2s ease-in-out;
  border: 2px solid white !important;
  cursor: pointer;
}

.skillItem:hover {
  transform: translateY(-4px);
}

/* Icon Styling */
.skillIcon {
  font-size: 2.4rem;
  margin-right: 1rem;
}

/* Title */
.skillTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

/* ⭐ Laptop (2 items per row) */
@media (min-width: 992px) {
  .skillDiv {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .chartbox {
    padding-bottom: 1rem !important;
  }

  .skillItem {
    width: 42%; /* 2 per row */
    max-width: none;
  }
}

/* Mobile optimization */
@media (max-width: 768px) {
  .skillItem {
    width: 95%;
  }
  .skillDiv {
    gap: 1rem;
  }
  .skillIcon {
    font-size: 1.5rem;
  }
  .skillBox {
    height: 100vh;
    margin-top: 15%;
  }
  .chartbox {
    margin-top: 5rem !important;
  }
}
